.container {
    display: flex;
    width: 100vw;  /* Ensures full width */
    min-height: 100vh;
    align-items: center;
    margin-left: 80;
    justify-content: center;
    overflow-x: hidden; /* Prevents extra horizontal space */
  }
  
.card {
  width: 100%;
  max-width: 400px;
  border-radius: 1rem;
  margin-left: 100;
  background-color: #1f2937; /*Original #1f2937*/ 
  padding: 1.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  border: none; /* Asegura que no haya borde */
}
  .title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
  }
  
  .social-buttons {
    display: flex;
    gap: 1rem;
    width: 100%;
  }
  
  .google-button, .facebook-button {
    display: flex;
    width: auto;
    min-width:150px;
    align-items: center;
    gap: 0.5rem;
    background-color: #374151;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4)
  }
  
  .google-button:hover, .facebook-button:hover {
    background-color: #4b5563;
  }
  
  .icon {
    font-size: 1.25rem;
  }
  
  .fb {
    color: #1877f2;
  }
  
  .divider {
    margin: 1rem 0;
    text-align: center;
    color: #9ca3af;
  }
  
  .label {
    color: #9ca3af;
  }
  
  .input {
    width: 100%;
    margin-top: 0.25rem;
    padding: 0.5rem;
    background-color: #374151;
    color: white;
    border-radius: 0.5rem;
  }
  
  .toggle-password {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    cursor: pointer;
  }
  
  .forgot-password {
    text-align: right;
    color: #3b82f6;
    cursor: pointer;
  }
  
  .submit-button {
    width: 100%;
    background-color: #2563eb;
    color: white;
    padding: 0.75rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4)
  }
  
  .submit-button:hover {
    background-color: #1d4ed8;
  }
  
  .login-link {
    margin-top: 1rem;
    text-align: center;
    color: #9ca3af;
  }
  
  .login-link span {
    color: #3b82f6;
    cursor: pointer;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
  }