.sidebar {
  width: 250px;
  background-image: linear-gradient(135deg, #0b022b, #4b0082);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgb(255, 255, 255);
  transition: width 0.3s ease;
}

  
  .userImage {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
    box-shadow: 0 0 10px rgba(246, 59, 212, 0.5);
  }
  
  .sidebar h2 {
    color: #f3f4f6;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #cbd5e1;
    transition: background-color 0.2s ease, color 0.2s ease;
    border-radius: 0.5rem;
  }
  
  .sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
  }
  
  .sidebar li.active {
    color: #3b82f6;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .user-info {
    text-align: center;
  }
  
  .user-info p {
    margin: 5px 0;
    color: #f3f4f6;
  }
  
  .user-info span {
    font-size: 0.9rem;
    color: #a0a0a0;
  }
  
  .toggle-button {
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #f3f4f6;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .sidebarCollapsed {
    width: 80px;
  }
  