.sidebar {
  width: 250px;
  background-image: linear-gradient(135deg, #0b022b, #4b0082);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: width 0.3s ease;
}
  
  .sidebar h2 {
    color: #f3f4f6;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  
  
  .user-info {
    text-align: center;
  }
  
  .user-info p {
    margin: 5px 0;
    color: #f3f4f6;
  }
  
  .user-info span {
    font-size: 0.9rem;
    color: #a0a0a0;
  }
  
  .sidebarCollapsed {
    width: 100px;
  }
  